<launch>
    <arg name="real_data" default="true"/>
    <arg name="use_apriltag" default="true"/>
    <arg name="username"  default="dummyusername" />
    <arg name="password"  default="dummypassword" />
    <arg name="hostname"  default="192.168.80.3" />

    <arg name="delete_db" default="true"/>

    <group if="$(arg real_data)">
        <include file="$(find spot_driver)/launch/driver.launch">
            <arg name="username" default="$(arg username)" />
            <arg name="password" default="$(arg password)" />
            <arg name="hostname" default="$(arg hostname)" />
        </include>
    </group>

    <!-- Start the AprilTag node -->
    <group if="$(arg use_apriltag)">
        <include file="$(find spot_navigation)/launch/apriltag.launch"/>
    </group>

    <arg name="driver_config" default="$(find spot_navigation)/config/spot_nav.yaml"/>

    <!-- Start the RTABMap navigation stack -->
    <include file="$(find spot_navigation)/launch/rtabmap_spot.launch">
        <group if="$(arg delete_db)">
            <param name="rtabmap_args" type="string" value="--delete_db_on_start" />
        </group>
    </include>

    <include file="$(find spot_navigation)/launch/move_base.launch"/>

    <!-- Start the RViz with view_map.launch -->
    <include file="$(find spot_navigation)/launch/view_map.launch"/>
</launch>